*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

$Montserrat: "Montserrat", sans-serif;
$Oswald: "Oswald", sans-serif;
$Roboto: "Roboto", sans-serif;
$red: #961914;
$text: #434242;
$pink: #ead1d0;

body {
	&.lock {
		overflow: hidden;
		height: 100vh;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;

	@media (max-width: 1220px) {
		padding: 0 20px;
	}
}
.title {
	font-family: $Oswald;
	font-weight: 700;
	font-size: calc(40px + 6 * ((100vw - 320px) / (1440 - 320)));
	letter-spacing: 0.02em;
	line-height: 130%;
}
.button {
	font-family: $Montserrat;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	background-color: $red;
	color: #fff;
	padding: 13px 42px;
	text-align: center;
	border-radius: 8px;
	transition: background 0.2s;

	&:hover {
		background-color: #75110d;
	}
}
.body {
	width: 100%;
	height: 100%;
}
section {
	padding-top: calc(80px + 100 * ((100vw - 320px) / (1440 - 320)));
}

.header {
	width: 100%;
	height: calc(70px + 10 * ((100vw - 320px) / (1440 - 320)));
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 16px;
	z-index: 12;
	transition: all 0.2s;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: calc(60px + 20 * ((100vw - 320px) / (1440 - 320)));
		height: calc(60px + 20 * ((100vw - 320px) / (1440 - 320)));
		transition: all 0.2s;
		position: relative;
		z-index: 13;
	}

	&__nav {
		display: flex;
		justify-content: space-between;

		a {
			color: #fff;
			font-family: $Montserrat;
			font-weight: 500;
			font-size: 16px;
			line-height: 140%;
			border-bottom: 2px solid transparent;
			transition: border 0.2s;

			&:hover {
				border-bottom: 2px solid $red;
			}

			&:not(:last-child) {
				margin-right: calc(25px + 28 * ((100vw - 768px) / (1440 - 768)));
			}

			&:last-child {
				margin-right: calc(0px + 23 * ((100vw - 768px) / (1440 - 768)));
			}

			&.button {
				color: #fff;
				margin-top: 100px;
				display: none;
			}
		}
	}

	&.scrolled {
		background-color: #fff;
		padding-top: 0;
	}
	&.scrolled &__logo {
		width: calc(38px + 24 * ((100vw - 320px) / (1440 - 320)));
		height: calc(38px + 24 * ((100vw - 320px) / (1440 - 320)));
	}
	&.scrolled &__nav a:not(.button) {
		color: #000;
	}
	&.scrolled &__burger {
		&::before {
			background-color: #000;
		}
		&::after {
			background-color: #000;
		}
		span {
			background-color: #000;
		}
	}
	&.active {
		background-color: #fff;
	}

	&__burger {
		display: none;
		cursor: pointer;
		position: relative;
		z-index: 13;

		&.active::before {
			transform: rotate(45deg);
			top: 9px;
			background-color: #000;
		}

		&.active::after {
			transform: rotate(-45deg);
			bottom: 9px;
			background-color: #000;
		}

		&.active span {
			transform: scale(0);
			background-color: #000;
		}
	}
}

// burger
@media (max-width: 767px) {
	.header__burger {
		display: block;
		height: 20px;
		width: 30px;
		z-index: 13;

		&::before,
		&::after {
			content: "";
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.5s ease 0s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			position: absolute;
			background-color: #fff;
			height: 2px;
			width: 100%;
			left: 0;
			top: 9px;
			transition: all 0.5s ease 0s;
		}
	}

	.header__nav {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: fixed;
		top: -100%;
		right: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		background-color: #fff;
		padding: 70px 10px 20px 10px;
		z-index: 10;
		transition: all 1s;

		a {
			color: #000;
			font-size: 24px;
			font-weight: 600;
			font-family: $Montserrat;

			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}

		&.active {
			top: calc(70px + 10 * ((100vw - 320px) / (1440 - 320)));

			.button {
				display: block;
				margin: 100px 0px;
			}
		}
	}
}
// /burger

.main {
	height: 100vh;
	background-image: url("../img/bg.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	overflow-x: hidden;
	margin: 0;
	padding-top: 0;

	&::before {
		content: "";
		background-image: url("../img/icons/ZOOOV.png");
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		width: 147px;
		height: 548px;
		bottom: calc(0px + 92 * ((100vw - 320px) / (1440 - 320)));
		right: calc(0px - 21 * ((100vw - 320px) / (1440 - 320)));

		@media (max-width: 500px) {
			width: 100px;
			height: 375px;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	&__title {
		font-size: calc(44px + 10 * ((100vw - 320px) / (1440 - 320)));
		color: #fff;
		width: calc(338px + 152 * ((100vw - 320px) / (1440 - 320)));
		height: 210px;
		position: relative;
		z-index: 2;
		background-image: url("../img/icons/Ellipse_animated.svg");
		background-position-x: 75%;
		background-position-y: 60%;
		background-repeat: no-repeat;
		background-size: calc(170px + 80 * ((100vw - 320px) / (1440 - 320)));

		@media (max-width: 1200px) {
			background-position-y: 50%;
		}

		@media (max-width: 1050px) {
			background-position-x: 80%;
		}

		@media (max-width: 768px) {
			background-position-x: 0%;
		}

		@media (max-width: 425px) {
			background-position-y: 43%;
		}

		@media (max-width: 370px) {
			width: 100%;
			background-position-y: 80%;
		}

		& span {
			display: block;

			@media (max-width: 768px) {
				display: inline-block;
			}
		}
	}

	&__subtitle {
		width: calc(227px + 133 * ((100vw - 320px) / (1440 - 320)));
		font-family: $Montserrat;
		font-weight: 400;
		font-size: calc(18px + 2 * ((100vw - 320px) / (1440 - 320)));
		line-height: 140%;
		color: #fff;
		margin: 10px 0 25px 0;
	}
}

.barf {
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media (max-width: 770px) {
			grid-template-columns: 1fr;
			justify-items: center;
		}
	}

	&__content {
		margin-top: calc(0px + 55 * ((100vw - 320px) / (1440 - 320)));
		margin-right: 28px;
	}

	&__description {
		color: $text;
		font-size: 16px;
		font-weight: 400;
		line-height: 140%;
		margin-top: calc(24px + 8 * ((100vw - 320px) / (1440 - 320)));
		margin-bottom: 24px;
		font-family: $Montserrat;
	}

	&__list {
		font-family: $Montserrat;

		p {
			font-weight: 600;
			font-size: 18px;
			line-height: 130%;
			margin-bottom: 13px;
		}

		li {
			color: $text;
			font-size: 16px;
			font-weight: 400;
			padding-left: 12px;
			position: relative;

			&:not(:last-child) {
				margin-bottom: 15px;
			}

			&::before {
				content: "";
				position: absolute;
				top: 6px;
				left: 0;
				width: 6px;
				height: 6px;
				background-color: $red;
				border-radius: 50%;
			}
		}
	}

	&__image {
		width: calc(350px + 238 * ((100vw - 768px) / (1440 - 768)));
		height: calc(311px + 212 * ((100vw - 768px) / (1440 - 768)));
		align-self: center;

		@media (max-width: 768px) {
			width: 100%;
			height: auto;
			margin: 40px 0 0 0;
		}
	}

	&__nutrition {
		grid-column-start: 1;
		grid-column-end: 3;

		@media (max-width: 768px) {
			grid-column-end: 2;
		}
	}
}

.barf-slider {
	min-width: 0;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 3;
	padding: 32px 80px;
	margin-top: 80px;
	background-color: $pink;
	background-image: url("../img/icons/line.png");
	background-repeat: no-repeat;
	background-position: center;
	font-family: $Montserrat;

	@media (max-width: 770px) {
		padding: 56px 49px 0 49px;
		grid-column-start: 1;
		grid-column-end: 2;
		margin-top: 0;
	}

	@media (max-width: 360px) {
		padding: 56px 19px 0 19px;
	}

	&__swiper {
		@media (max-width: 770px) {
			padding-bottom: 72px;
		}
	}

	&__slide {
		display: flex;

		&:last-child {
			justify-content: end;

			@media (max-width: 1030px) {
				justify-content: center;
			}
		}

		@media (max-width: 1030px) {
			justify-content: center;
		}
	}

	.swiper-pagination-bullet {
		border: 1px solid $red;
		background-color: transparent;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background-color: $red;
	}
}

.barf-slide {
	&__title {
		font-weight: 600;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 200%;
		margin-bottom: 16px;
	}

	div + div {
		margin-left: 70px;

		@media (max-width: 1120px) {
			margin-left: 30px;
		}

		@media (max-width: 1030px) {
			margin: 26px 0 0 0;
		}
	}

	img {
		width: 20px;
		height: auto;
		margin-right: 16px;
	}

	&__list {
		display: flex;

		@media (max-width: 1030px) {
			flex-direction: column;
		}
	}

	li {
		font-weight: 500;
		font-size: 18px;
		color: $text;

		&:not(:last-child) {
			margin-bottom: 26px;
		}
	}
}

.rations {
	&__title-block {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: calc(56px + 8 * ((100vw - 320px) / (1440 - 320)));

		@media (max-width: 940px) {
			flex-direction: column;
		}
	}

	&__title {
		white-space: nowrap;
		height: 79px;
		padding: 5px 85px 0 0;
		position: relative;
		background-image: url("../img/icons/Ellipse2.png");
		background-repeat: no-repeat;
		background-position-x: 75%;
		background-position-y: top;

		@media (max-width: 940px) {
			padding: 5px 35px 0 0;
			background-position-x: 100%;
			width: 320px;
		}

		@media (max-width: 375px) {
			width: 100%;
		}
	}

	&__descroption {
		font-family: $Montserrat;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;

		@media (max-width: 940px) {
			margin: 20px 0 0 0;
		}

		@media (max-width: 550px) {
			display: none;
		}
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
	}

	&__dots {
		display: flex;
		justify-content: center;
		margin: 40px 0 0 0;

		&-item {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			border: 1px solid #961914;

			&.active {
				background-color: #961914;
			}

			&:not(:last-child) {
				margin-right: 8px;
			}
		}
	}

	&__calculation {
		width: 100%;
		height: calc(248px - 64 * ((100vw - 320px) / (1440 - 320)));
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $pink;
		background-image: url("../img/icons/line.png");
		margin-top: 80px;
		padding: 0 22.5px;

		p {
			font-weight: 500;
			font-family: $Montserrat;
			font-size: calc(20px + 8 * ((100vw - 320px) / (1440 - 320)));
			line-height: 140%;
			letter-spacing: 0.02em;
			width: calc(282px + 418 * ((100vw - 320px) / (1440 - 320)));
			margin-right: calc(0px + 151 * ((100vw - 320px) / (1440 - 320)));

			@media (max-width: 650px) {
				margin: 0 0 24px 0;
				text-align: center;
			}
		}

		@media (max-width: 650px) {
			flex-direction: column;
		}
	}
}

.rations-slider {
	min-width: 0;
	padding-bottom: 48px;

	&__slide {
		width: 280px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-family: $Montserrat;
		position: relative;

		&:not(:last-child) {
			margin-right: 26px;
		}
	}

	&__image {
		width: 100%;
		height: auto;
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		margin-top: 45px;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 13px;
		color: #9f9e9d;
		margin: 4px 0 16px 0;
	}

	&__description {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: $text;
		margin-bottom: 11px;
	}

	&__weight {
		color: #9f9e9d;
		font-size: 13px;
		margin-bottom: 24px;
	}

	&__button {
		border: 1px solid $red;
		background-color: #fff;
		color: $red;
		margin-top: auto;
		transition: all 0.2s;

		&:hover {
			background-color: $pink;
			border: 1px solid transparent;
		}
	}

	.swiper-pagination-bullet {
		background-color: $red;
	}

	.swiper-pagination-bullet-active {
		background-color: $red;
	}
}

.zooov {
	&__title {
		margin-bottom: calc(40px + 17 * ((100vw - 320px) / (1440 - 320)));
		position: relative;
		display: inline-block;

		&::before {
			content: "";
			background-image: url("../img/icons/short-line.svg");
			background-repeat: no-repeat;
			width: 26px;
			height: 30px;
			position: absolute;
			bottom: -14px;
			right: -20px;
		}
	}

	&__cards {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(4, 1fr);

		@media (max-width: 1250px) {
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 40px;
			grid-column-gap: 40px;
		}

		@media (max-width: 666px) {
			grid-template-columns: 1fr;
			justify-items: start;
		}
	}
}

.cards {
	&__item {
		font-family: $Montserrat;
		width: 282px;
	}

	&__item + &__item {
		margin-left: 20px;

		@media (max-width: 1250px) {
			margin: 0;
		}
	}

	&__image {
		width: 40px;
		height: 40px;
		margin-bottom: 16px;
	}

	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 130%;
		margin-bottom: 8px;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
	}
}

.about {
	background-color: #fff4f3;
	background-image: url("../img/icons/line3.png");
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 0;
	padding: 80px 0;
	margin-top: calc(80px + 100 * ((100vw - 320px) / (1440 - 320)));

	&__body {
		display: flex;
		justify-content: center;

		@media (max-width: 1000px) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	&__image-wrap {
		margin-right: 56px;
		height: 100%;
		width: calc(285px + 271 * ((100vw - 320px) / (1440 - 320)));
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (max-width: 1000px) {
			margin: 0;
		}
	}

	&__image-block {
		position: relative;

		&:nth-child(2) {
			align-self: flex-end;
			margin-top: calc(-113px - 94 * ((100vw - 320px) / (1440 - 320)));
			position: relative;
		}
	}

	&__image {
		&--left {
			width: calc(261px + 214 * ((100vw - 320px) / (1440 - 320)));
			height: calc(309px + 253 * ((100vw - 320px) / (1440 - 320)));
		}

		&--right {
			width: calc(202px + 160 * ((100vw - 320px) / (1440 - 320)));
			height: calc(217px + 172 * ((100vw - 320px) / (1440 - 320)));
		}
	}

	&__sticker {
		&--heart {
			width: calc(66px + 54 * ((100vw - 320px) / (1440 - 320)));
			height: calc(65px + 54 * ((100vw - 320px) / (1440 - 320)));
			position: absolute;
			top: calc(-38px - 12 * ((100vw - 320px) / (1440 - 320)));
			right: calc(23px - 2 * ((100vw - 320px) / (1440 - 320)));
		}

		&--dog {
			width: calc(100px + 83 * ((100vw - 320px) / (1440 - 320)));
			height: calc(100px + 83 * ((100vw - 320px) / (1440 - 320)));
			position: absolute;
			left: calc(0px - 55 * ((100vw - 320px) / (1440 - 320)));
			bottom: calc(-48px - 48 * ((100vw - 320px) / (1440 - 320)));
		}
	}

	&__content {
		width: calc(324px + 196 * ((100vw - 320px) / (1440 - 320)));
		margin-right: 65px;
		padding-top: 40px;

		@media (max-width: 1000px) {
			margin: 0 0 76px 0;
			width: 100%;
		}
	}

	&__title {
		margin-bottom: calc(24px + 16 * ((100vw - 320px) / (1440 - 320)));
		width: calc(315px + 94 * ((100vw - 320px) / (1440 - 320)));

		@media (max-width: 370px) {
			width: 100%;
		}
	}

	&__text {
		font-family: $Montserrat;
		font-weight: 400;
		font-size: 16px;
		color: $text;
		line-height: 130%;

		&:not(:last-child) {
			margin: 0 0 40px 0;

			@media (max-width: 1000px) {
				margin: 0 0 27px 0;
			}
		}
	}
}

.delivery {
	&__title {
		margin-bottom: calc(33px + 47 * ((100vw - 320px) / (1440 - 320)));
	}

	.steps {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1060px) {
			flex-direction: column;
			background-image: url("../img/icons/Arrow5.png");
			background-repeat: no-repeat;
			background-position: left bottom;
			padding-left: 32px;
		}

		&__item {
			width: calc(263px + 17 * ((100vw - 320px) / (1440 - 320)));
			font-family: $Montserrat;

			&:not(:last-child) {
				margin: 0 20px 0 0;

				@media (max-width: 1060px) {
					margin: 40px 0 0 0;
				}
			}
		}

		&__title {
			font-weight: 600;
			font-size: 18px;
			line-height: 130%;
			margin-bottom: 8px;
		}

		&__subtitle {
			font-weight: 400;
			font-size: 16px;
			line-height: 140%;
		}

		&__image-wrap {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			margin-bottom: 16px;
		}

		&__arrow {
			width: 139px;
			height: 14px;
			margin-right: 35px;

			@media (max-width: 1060px) {
				display: none;
			}
		}

		&__image {
			width: 40px;
			height: 40px;

			&.little {
				width: 28px;
				height: 32px;
			}
		}
	}
}

.faq {
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__title {
		word-wrap: break-word;
		margin-right: 20px;

		@media (max-width: 700px) {
			margin-right: 0;
			margin-bottom: 40px;
		}
	}

	&__list {
		width: 766px;
		overflow: hidden;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 32px 0;

		&:not(:last-child) {
			border-bottom: 1px solid #e5e5e5;
		}

		&.checked {
			padding: 32px 0 32px 0;
		}
	}

	&__item.checked &__answer {
		opacity: 1;
		padding: 21px 0 32px 0;
		max-height: none;
	}

	&__item.checked &__controls::after {
		transform: rotate(-90deg);
	}

	&__text {
		font-family: $Montserrat;
		width: calc(275px + 416 * ((100vw - 320px) / (1440 - 320)));
	}

	&__question {
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
	}

	&__answer {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		opacity: 0;
		overflow: hidden;
		max-height: 0px;
		transition: all 0.2s;
	}

	&__controls {
		width: 20px;
		height: 20px;
		position: relative;
		margin-left: 10px;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			width: 20px;
			height: 2px;
			top: 9px;
			left: 0;
			background-color: $red;
		}

		&::after {
			content: "";
			position: absolute;
			width: 2px;
			height: 20px;
			top: 0;
			left: 9px;
			background-color: $red;
			transition: transform 0.2s;
		}
	}
}

.footer {
	margin-top: calc(80px + 100 * ((100vw - 320px) / (1440 - 320)));
	background-image: url("../img/bg-footer.png");
	background-repeat: no-repeat;
	background-position: 20% center;
	background-size: cover;

	@media (max-width: 768px) {
		background-image: url("../img/bg-footer-2.png");
		background-position: bottom;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		font-family: $Montserrat;
		padding: 80px 0;

		@media (max-width: 1120px) {
			flex-direction: column;
			padding: 56px 0 242px 0;
		}
	}

	&__title {
		color: #fff;
		margin-bottom: 8px;
		font-family: $Oswald;
	}

	&__contact {
		p:not(.footer__phone) {
			color: #fff;
			font-weight: 400;
			font-size: 16px;
			line-height: 140%;
			width: 302px;

			&:last-child {
				margin-top: 40px;
			}

			a {
				text-decoration: underline;
				color: #fff;
			}

			@media (max-width: 370px) {
				width: 100%;
			}
		}

		@media (max-width: 1120px) {
			margin-bottom: 56px;
		}
	}

	&__phone {
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		line-height: 140%;
		margin: 32px 0 24px 0;
	}

	&__link {
		color: #fff;
		font-weight: 500;
		font-size: 14px;
		line-height: 140%;
		background-color: rgba(255, 255, 255, 0.2);
		padding: 10px 16px 10px 44px;
		display: block;
		width: 223px;
		border-radius: 8px;
		position: relative;
		transition: background 0.2s;

		&::before {
			content: "";
			position: absolute;
			width: 24px;
			height: 24px;
			top: 8px;
			left: 12px;
			background-image: url("../img/icons/TelegramLogo.png");
		}

		&.whatsapp {
			&::before {
				background-image: url("../img/icons/WhatsappLogo.png");
			}
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}
	}

	&__link + &__link {
		margin-top: 16px;
	}

	&__form {
		margin-right: 75px;
		width: 636px;

		@media (max-width: 1120px) {
			margin-right: 0;
		}

		@media (max-width: 680px) {
			width: 100%;
		}
	}

	&__copyright {
		width: 100%;
		padding: 30px 0;
		background-color: #69120e;

		p,
		a {
			font-family: $Montserrat;
			font-weight: 400;
			font-size: 12px;
			color: rgba(255, 255, 255, 0.4);
		}

		p {
			@media (max-width: 1150px) {
				margin-bottom: 24px;
			}
		}

		a {
			@media (max-width: 1150px) {
				&:first-of-type {
					margin-bottom: 8px;
				}
			}
		}

		@media (max-width: 1150px) {
			padding: 24px 0;
		}
	}

	&__copyright-body {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1150px) {
			flex-direction: column;
			align-items: flex-start;
			padding: 24px 0;
		}
	}
}

.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@media (max-width: 680px) {
		grid-template-columns: 1fr;
	}

	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 140%;
		color: #fff;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: #fff;
		margin: 4px 0 34px 0;
	}

	&__input {
		width: 306px;
		height: 48px;
		padding: 14px 13px;
	}

	&__input,
	&__textarea {
		background-color: rgba(255, 255, 255, 0.05);
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
		color: #fff;
		font-size: 14px;
		font-weight: 400;

		&::placeholder {
			font-family: $Montserrat;
			font-size: 14px;
			font-weight: 400;
			color: rgba(255, 255, 255, 0.5);
		}

		@media (max-width: 680px) {
			width: 100%;
		}
	}

	&__input + &__input {
		margin-left: 24px;

		@media (max-width: 680px) {
			margin: 16px 0 0 0;
		}
	}

	&__textarea {
		grid-column-start: 1;
		grid-column-end: 3;
		margin: 16px 0 22px 0;
		height: 122px;
		padding: 8px 15px;

		@media (max-width: 680px) {
			grid-column-end: 2;
			margin: 16px 0 16px 0;
		}
	}

	&__checkbox {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__fake-checkbox {
		min-width: 16px;
		height: 16px;
		background-color: #fff;
		border-radius: 2px;
		margin-right: 8px;
		cursor: pointer;
	}

	&__checkbox:checked + &__fake-checkbox {
		background-image: url("../img/icons/check.svg");
		background-repeat: no-repeat;
		background-position: center;
	}

	&__checkbox-label {
		display: flex;
		position: relative;
		font-weight: 400;
		font-size: 12px;
		line-height: 140%;
		color: #fff;
		width: 215px;
		cursor: pointer;

		@media (max-width: 680px) {
			width: 100%;
		}
	}

	&__button {
		background-color: #fff4f3;
		color: #ec7973;
		width: 214px;
		justify-self: end;
		transition: all 0.2s;
		cursor: pointer;

		&:hover {
			background-color: $pink;
			color: $red;
		}

		@media (max-width: 680px) {
			width: 100%;
			margin-top: 32px;
		}
	}
}

.rations-popup {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 16;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.2s, opacity 0.2s;

	&:target {
		visibility: visible;
		opacity: 1;
	}

	&__wrap {
		position: relative;
		z-index: 1;
		transition: opacity 0.2s;

		&.notActive {
			display: none;
			opacity: 0;
		}
	}

	&__body {
		width: 872px;
		height: 615px;
		background-color: #fff;
		display: flex;
		padding: 56px;
		position: relative;
	}

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		width: 32px;
		height: 32px;
		cursor: pointer;

		&::before {
			content: "";
			background-color: #000;
			height: 32px;
			width: 2px;
			position: absolute;
			top: 0px;
			left: 16px;
			transform: rotate(45deg);
		}

		&::after {
			content: "";
			background-color: #000;
			height: 32px;
			width: 2px;
			position: absolute;
			top: 0px;
			left: 16px;
			transform: rotate(-45deg);
		}
	}

	&__area {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__slider {
		display: flex;
		flex-direction: column;
		margin-right: 43px;
	}

	&__main-slide {
		width: 351px;
		height: 421px;
		margin-bottom: 18px;
	}

	&__slider-galary {
		display: flex;

		img {
			width: 64px;
			height: 64px;
		}

		img + img {
			margin-left: 16px;
		}
	}

	&__text {
		font-family: $Montserrat;

		&.notActive {
			display: none;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 20px;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 15px;
		color: #9f9e9d;
		margin: 4px 0 16px 0;
	}

	&__description,
	&__composition,
	&__energy {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: $text;
	}

	&__composition {
		margin: 45px 0 72px 0;
	}

	&__composition,
	&__energy {
		span {
			font-weight: 600;
		}
	}

	&__weight {
		margin: 19px 0 37px 0;
		font-weight: 400;
		font-size: 13px;
		color: #9f9e9d;
	}

	&__button {
		background-color: #fff;
		color: $red;
		border: 1px solid $red;
		cursor: pointer;

		&:hover {
			border: 1px solid $pink;
			background-color: $pink;
			color: $red;
		}
	}

	&__sent {
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		opacity: 0;
		z-index: 5;
		transition: opacity 0.2s;

		&.active {
			display: flex;
			opacity: 1;
		}
	}
}

.popup-form {
	display: none;
	position: relative;
	opacity: 0;
	transition: opacity 0.2s;
	z-index: 2;

	&.active {
		display: block;
		opacity: 1;
	}

	&__name,
	&__tel,
	&__address,
	&__weight,
	&__quantity {
		width: 364px;
		height: 48px;
		background-color: #f4f5f5;
		margin-bottom: 16px;
		border-radius: 8px;
		padding: 14px 16px;
		font-family: $Montserrat;
		font-weight: 400;
		font-size: 14px;
		color: #000;

		&::placeholder {
			font-family: $Montserrat;
			font-weight: 400;
			font-size: 14px;
			color: rgba(0, 0, 0, 0.5);
		}
	}

	&__input-wrapper {
		display: inline-block;
		position: relative;

		.plus {
			position: absolute;
			width: 14px;
			height: 14px;
			top: 17px;
			left: 16px;
			cursor: pointer;

			&::before {
				content: "";
				height: 14px;
				width: 1px;
				background-color: #c4c4c4;
				position: absolute;
				top: 0;
				left: 6.5px;
				border-radius: 1px;
			}

			&::after {
				content: "";
				height: 1px;
				width: 14px;
				background-color: #c4c4c4;
				position: absolute;
				top: 6px;
				left: 0;
				border-radius: 1px;
			}
		}

		.minus {
			position: absolute;
			width: 14px;
			height: 14px;
			top: 17px;
			right: 16px;
			cursor: pointer;

			&::before {
				content: "";
				height: 1px;
				width: 14px;
				background-color: #c4c4c4;
				position: absolute;
				top: 6px;
				left: 0;
				border-radius: 1px;
			}
		}
	}

	&__weight {
		width: 205px;
		margin-right: 22px;
	}

	&__input-arrow {
		position: absolute;
		top: 21px;
		left: 177px;
		width: 14px;
		height: 8px;
		cursor: pointer;
	}

	&__quantity {
		width: 135px;
		padding: 14px 64px;
	}

	&__checkbox {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

		input {
			width: 1px;
			height: 1px;
		}
	}

	&__checkbox-fake {
		width: 16px;
		height: 16px;
		border: 1px solid $red;
		border-radius: 2px;
		margin-right: 8px;
		cursor: pointer;

		&.checked {
			background-image: url("../img/icons/check.svg");
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&__checkbox-label {
		font-family: $Montserrat;
		font-weight: 400;
		font-size: 12px;
		line-height: 140%;
		color: #9f9e9d;
		cursor: pointer;
	}

	&__buy {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 36px;

		p {
			font-family: $Roboto;
			font-weight: 500;
			font-size: 20px;
			line-height: 130%;
			letter-spacing: 0.02em;
		}

		input {
			border: 1px solid $red;
			background-color: #fff;
			color: $red;
			cursor: pointer;
			transition: all 0.2s;

			&:hover {
				border: 1px solid $pink;
				background-color: $pink;
			}
		}
	}
}

.sent {
	&__title {
		color: $red;
		margin-bottom: 22px;
	}

	&__text {
		font-family: $Montserrat;
		font-weight: 400;
		font-size: 15px;
		line-height: 130%;
		width: 363px;
	}

	&__text + &__text {
		margin-top: 26px;
	}
}

.popup-thanks{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 16;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;

	&:target{
		visibility: visible;
		opacity: 1;
	}

	&__area {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__body {
		width: 461px;
		height: 232px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		width: 32px;
		height: 32px;
		cursor: pointer;

		&::before {
			content: "";
			background-color: #000;
			height: 32px;
			width: 2px;
			position: absolute;
			top: 0px;
			left: 16px;
			transform: rotate(45deg);
		}

		&::after {
			content: "";
			background-color: #000;
			height: 32px;
			width: 2px;
			position: absolute;
			top: 0px;
			left: 16px;
			transform: rotate(-45deg);
		}
	}

	&__title {
		color: $red;
		margin-bottom: 16px;
	}

	&__text {
		font-family: $Montserrat;
		font-weight: 400;
		font-size: 15px;
		line-height: 130%;
	}
}

.calc {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s;
	z-index: 12;

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&__area {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__body {
		width: 872px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		position: relative;
		background-color: #fff;
		padding: 56px;
		font-family: $Montserrat;
	}

	&__close {
		position: absolute;
		top: 17px;
		right: 20px;
		width: 32px;
		height: 32px;

		&::before {
			content: "";
			position: absolute;
			top: 6px;
			left: 6px;
			width: 20px;
			height: 2px;
			background-color: #000;
			transform: rotate(45deg);
		}

		&::after {
			content: "";
			position: absolute;
			top: 6px;
			left: 6px;
			width: 20px;
			height: 2px;
			background-color: #000;
			transform: rotate(-45deg);
		}
	}

	&__title {
		color: $red;
		font-size: 40px;
		margin-bottom: 24px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__button {
		display: flex;
		align-items: center;
		background-color: rgba(150, 25, 20, 0.2);
		color: $red;
		font-weight: 500;
		font-size: 14px;
		line-height: 140%;
		padding: 13px 24px 11px 12px;

		&:hover{
			background-color: rgba(150, 25, 20, 0.4);
		}

		img {
			width: 24px;
			height: 24px;
			margin-right: 8px;
		}
	}

	&__button + &__button {
		margin-left: 30px;
	}

	&__subtitle {
		font-size: 15px;
		line-height: 130%;
		grid-column-start: 1;
		grid-column-end: 3;
		margin-bottom: 27px;
	}

	&__form {
		display: flex;
		justify-content: space-between;
	}
}

.calc-form {
	grid-column-start: 1;
	grid-column-end: 3;

	&__character {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-right: 32px;

		input{
			padding: 22px 16px 6px 16px;
		}
	}

	&__radio-wrap {
		grid-column-start: 1;
		grid-column-end: 3;
		margin-bottom: 24px;
	}

	&__radio-label {
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		cursor: pointer;
	}

	&__radio-label + &__radio-label {
		margin-left: 32px;
	}

	&__radio {
		width: 16px;
		height: 16px;
		position: relative;
		margin-right: 8px;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			border: 1px solid $text;
		}
	}

	&__radio:checked::before {
		background-image: url("../img/icons/circle.svg");
		background-size: 10px;
		background-repeat: no-repeat;
		background-position: center;
		border: 1px solid $red;
	}

	&__input-wrap{
		width: 364px;
		position: relative;

		label{
			position: absolute;
			top: 4px;
			left: 16px;
			font-size: 12px;
			line-height: 140%;
			color:rgba(0, 0, 0, 0.6)
		}

		&:nth-child(2) {
			margin-right: 16px;
			position: relative;
		}

		&:nth-child(2),
		&:nth-child(3) {
			width: 174px;

		}

		&:nth-child(4) {
			grid-column-start: 1;
			grid-column-end: 3;
			margin: 16px 0 60px 0;
		}
	}

	&__input {
		width: 100%;
		height: 48px;
		background-color: #f4f5f5;
		font-size: 14px;
		border-radius: 8px;
		padding: 14px 16px;
		line-height: 140%;
		color: #000;

		&::placeholder{
			font-family: $Montserrat;
			font-size: 14px;
			color: rgba(0,0,0,0.5);
			line-height: 140%;
		}

		&:nth-child(6){
			background-color: red;
		}
	}

	&__checkbox {
		display: flex;
		align-items: center;
		grid-column-start: 1;
		grid-column-end: 3;
		font-size: 12px;
		line-height: 140%;
		color: #9f9e9d;
		cursor: pointer;

		input {
			width: 16px;
			height: 16px;
			margin-right: 8px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 16px;
				height: 16px;
				border: 1px solid $red;
				border-radius: 2px;
				background-color: #fff;
			}

			&:checked::before {
				background-image: url("../img/icons/check.svg");
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	
	&__contact{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&-comment{
		height: 97px;
		resize: none;
		margin-top: 16px;
	}

	&__submit {
		width: 228px;
		margin-top: 42px;
		align-self: flex-end;
		cursor: pointer;
	}
}